body {
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: sans-serif;
}

.container {
    background-color: rgba(0, 0, 0, 0.75);
    border-style: solid;
    border-width: medium;
    border-color: #228B22;
    margin: auto;
    width: 1500px
}

.header {
    color: #0000FF;
    text-align: center;
    font-size: 3em;
    font-family: Tahoma, Verdana, sans-serif;
}

.main {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.sidebar-left {
    border-style: solid;
    border-width: 3px;
    border-color: #FF0000;
    width: 250px;
    height: 600px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.department-link {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 150px;
    margin: auto;
    text-align: center;
}

.hobbies, .hobbies-list, .interests, .interests-list {
    margin-left: 20px;
    color: white;
}

.content {
    margin-bottom: 0px;
    margin-top: 20px;
    width: 800px;
    border-style: solid;
    border-width: 3px;
    border-color: #0000FF;
    height: 600px;
}

.headshot {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 125px;
}

.headshot-img {
    width: 125px;
    height: 125px;
}

.name {
    color: white;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    font-size: 1.3em;
}

.name-text {
    margin-top: 0;
}

.assignments {
    color: white;
    margin: auto;
    width: 500px;
    text-align: center
}

.assignments-container {
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.assignments-table {
    border: none;
    border-collapse: collapse;
    width: 400px;
    text-align: center;
}

.odd-row {
    background-color: ivory;
    color: black;
}

.even-row {
    background-color: grey;
}

.table-data {
    border: none;
    margin: 0;
    padding: 3px;
}

.sidebar-right {
    border-style: solid;
    border-width: 3px;
    border-color: #FF0000;
    width: 350px;
    height: 600px;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 20px;
    text-align: left;
    color: white;
}

.nested-list {
    list-style-type: none;
}

.footer {
    width: 840px;
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #00FF00;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
}

.quote-container {
    color: white;
}

.quote {
    font-style: italic;
}

.external-link-header {
    color: white;
}

.external-link-table {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.validation-img {
    border: 0;
    width: 88px;
    height: 31px;
    margin-left: auto;
    margin-right: auto;
}

a:hover {
    color: green;
}

.department-text:link, .hobbies-link:link, .interests-link:link, .linkedin-link:link, .resume-link:link, .external-link:link {
    color: #FFFACD;
}

.department-text:visited, .hobbies-link:visited, .interests-link:visited, .linkedin-link:visited, .resume-link:visited, .external-link:visited {
    color: #83ff73;
}

.department-text:hover, .hobbies-link:hover, .interests-link:hover, .linkedin-link:hover, .resume-link:hover, .external-link:hover {
    color: #ff54f1;
}

span {
    color: red;
    font-weight: bold;
}